.back {
    font-size: 12pt;
    display: block;
    text-align:end;
    font-family: "Arial Black";
}

h4 {
    font-size: 20pt;
    font-family: Arial;;
}

p {
    font-size: 13pt;
    font-family: Arial;
}

li {
    font-size: 10pt;
    margin-top: 10px;
    font-family: Arial;
    list-style-position: inside;
}

img {
    width:500px;
}