h1, h2, h3 {
    font-family: Arial;
}

p {
    font-size: 13pt;
    font-family: Arial;
}

li {
    font-size: 10pt;
    margin-top: 10px;
    font-family: Arial;
}

h2, h3 {
    font-size: 20pt;
}

.preparo-list {
    list-style: none;
}