
h1, h2, h3 {
    font-family: Arial;
    text-align: center;
}

p {
    font-size: 13pt;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
}

li {
    font-size: 10pt;
    padding: 5px;
    font-family: Arial;
    list-style-position: inside;
}

h2, h3 {
    font-size: 20pt;
}

.preparo-list {
    list-style: none;
    font-family: "Arial Black";
}

img {
    width:500px;
    border-radius: 8px;
}

ul {
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: lightsalmon;
}

div {
    padding: 10px;
    background-color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: block;
}